{% extends "layout.html" %}
{% block title %}Jogar{% endblock %}

{% block body %}
<div id="game">
    <h1 class="title">JOGO DA VELHA</h1>
    <h2 id="statusText"></h2>
    <div class="game">
        <div class="player" id="player1">
            <img src="{{ url_for('static', filename='src/logo.jpg') }}" class="avatar" alt="...">
            <div>
                <h2>{{ session["username"] }}</h2>
                <p>Vitorias: <span id="vitorias1" >{{ qtdVitorias }}</span></p>
                <h3>X</h3>
            </div>
        </div>
    <div id="gameContainer">
        <div id="cellContainer">
            <div cellIndex="0" class="cell"></div>
            <div cellIndex="1" class="cell"></div>
            <div cellIndex="2" class="cell"></div>
            <div cellIndex="3" class="cell"></div>
            <div cellIndex="4" class="cell"></div>
            <div cellIndex="5" class="cell"></div>
            <div cellIndex="6" class="cell"></div>
            <div cellIndex="7" class="cell"></div>
            <div cellIndex="8" class="cell"></div>
        </div>
        <button id="restartBtn">recomeçar</button>
    </div>
    <div class="player" id="player2">
        <img src="{{ url_for('static', filename=jogadorFoto) }}" class="avatar" alt="...">
        <div>
            <h2 id="nomeJogador">{{ jogador }}</h2>
            <p>Vitorias: <span id="vitorias2">{{ opVitorias }}</span></p>
            <h3>O</h3>
        </div>
    </div>
</div>
</div>
<script src="{{ url_for('static', filename='game.js') }}"type="text/javascript"></script>
{% endblock %}