{% extends "layout.html" %}
{% block title %}Perfil{% endblock %}

{% block body %}
<div class="container py-5 text-center">
    <div class="profile">
        <img src="{{ url_for('static', filename='src/logo.jpg') }}" class="avatar" alt="...">
        <h3 class="display-1">{{ session["username"] }}</h3>
    </div>
    <form action="/account" method="post">
        <div class="input-group mb-3">
            <input autocomplete="off" autofocus class="form-control" name="oldpassword" placeholder="Senha antiga" type="password">
        </div>
        <div class="input-group mb-3">
            <input autocomplete="off" class="form-control" name="newpassword" placeholder="Digite sua nova senha" type="password">
        </div>
        <div class="input-group mb-3">
            <input autocomplete="off" class="form-control" name="passwordagain" placeholder="Digite novamente" type="password">
        </div>
            <button class="btn btn-primary" type="submit" style="margin-left: auto;">Mudar senha</button>
    </form>
</div>
{% endblock %}